body{
    background: rgb(29, 30, 30);
    color: aliceblue;
}
p{
    text-align: center;
    color: red;
}

.pc {
    color: aqua;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.containerNames {
    width: 300px;
    padding: 20px;
    margin: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    text-align: center;
}


#paginator {
    margin: 15px 0 10px;
    font-size: 1.5em;
    color: #e0cc14;
    display: block;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 50px;
}

.img-card {
    width: 300px;
    box-shadow: 5px 5px 5px white;
    border-radius: 5px;
}

.p-c {
    margin-top: 10px;
}

